if TARGET_MX6QMF0300

config SYS_BOARD
	default "mx6qmf0300"

config SYS_VENDOR
	default "freescale"

config SYS_SOC
	default "mx6"

config SYS_CONFIG_NAME
	default "mx6qmf0300"

config DEFAULT_PANEL
	string
	help
	  This option indicate the name of the default video output panel.

endif
