/*
 * Copyright 2018 Itransition, Inc.
 * Copyright 2012-2013 Freescale Semiconductor, Inc.
 * Copyright 2011 Linaro Ltd.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/dts-v1/;

#include "imx6q-ver2.dtsi"
#include "imx6qdl-mf0300.dtsi"
#include "imx6q-mf0300-btwifi.dtsi"

&ldb {
	status = "okay";
	lvds-channel@0 {
		status = "okay";
		display-timings {
			native-mode = <&lvds0_timing_xga>;
			/* first defined timing will be selected */
			/* does not depend on 'native-mode' value */
			/* because of of_display_timing.c bug */
			lvds0_timing_xga: hsd100pxn1 {
				clock-frequency = <65000000>;
				hactive = <1024>;
				vactive = <768>;
				hback-porch = <100>;
				hfront-porch = <100>;
				vback-porch = <10>;
				vfront-porch = <15>;
				hsync-len = <50>;
				vsync-len = <13>;
				linux,phandle = <&lvds0_timing_xga>;
			};
		};
	};
};