CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/freescale/mx6qmf0300/mx6q.cfg,MX6Q,DDR_MB=2048,ANDROID_SUPPORT,SYS_BOOT_MMC,DEFAULT_PANEL=LGXGA15,DEFAULT_FDT_FILE=\"imx6q-mf0300-xga.dtb\""
CONFIG_ARM=y
CONFIG_TARGET_MX6QMF0300=y
CONFIG_SYS_MALLOC_F=y
CONFIG_SYS_MALLOC_F_LEN=0x400
CONFIG_DM=y
CONFIG_DM_THERMAL=y
